@font-face{
    font-family: 'Avenir';
    src: url(./Resources/fonts/AvenirLTStd-Book.otf);
    font-style: normal;
    font-weight: 300;
}

@font-face{
    font-family: 'Avenir';
    src: url(./Resources/fonts/AvenirLTStd-Medium.otf);
    font-style: normal;
    font-weight: 500;
}

@font-face{
    font-family: 'Avenir';
    src: url(./Resources/fonts/AvenirNextLTPro-Heavy.otf);
    font-style: normal;
    font-weight: 900;
}