*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Avenir', sans-serif;
}

body {
    height: 2189px
}

nav {
    width: 320px;
    height: 100vh;
    background-color: #222222;
    padding: 50px 30px 105px 30px;
    position: fixed;
    overflow: auto;
    z-index: 1;
}

.burger_section{
    max-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger_text p {
    font-weight: 900;
    font-size: 24px;
    text-align: left;
    color: #fff;
}

.burger_text span {
    font-weight: 500;
    font-size: 24px;
    text-align: left;
    color: #fff;
}

.burger {
    width: 26px;
    max-height: 11px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.burger div {
    margin: 4px 0;
    height: 1px;
    background: #fff;
}

.menu {
    display: flex;
    flex-direction: column;
    margin-top: 105px; 
}

.menu a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    padding: 18px 30px;
}

.menu a:hover {
    border-radius: 12px;
    background: #f28;
}

.menu_text {
    margin-left: 15px;
}

.following {
    margin-top: 80px;
    padding-left: 30px;
}

.following h2 {
    font-weight: 300;
    font-size: 12px;
    color: #fff;
}

.following_flex {
    display: flex;
    flex-direction: column;
    height: 280px;
    justify-content: space-between;
    margin-top: 30px;
}

.following a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}

.following span {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    margin-left: 20px;
}

.more {
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    color: #fff;
    margin-top: 20px;
}

.container {
    width: 1600px;
    margin-left: 320px;
}

header {
    display: flex;
    justify-content: space-between;
    height: 116px;
    padding: 30px 91px 30px 20px;
}

.search {
    width: 446px;
    height: 56px;
    position: relative;
}

.search input {
    width: 100%;
    height: 56px;
    border-radius: 12px;
    border-style: none;
    background: #f8f8f8;
    padding: 16px 50px 16px 20px;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    color: #111;
    opacity: 0.5;
}

.search button {
    width: 64px;
    height: 56px;
    border-radius: 12px;
    border-style: none;
    background: url(./Resources/img/icons/Search.png) center no-repeat;
    position: absolute;
    cursor: pointer;
    right: 0;
}

.right_side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    
}

.pro{
    font-weight: 500;
    font-size: 14px;
    color: #f28;
    text-decoration: none; 
}

.note {
    position: relative;
    cursor: pointer;
}

.ellipse1 {
    display: none;
    position: absolute;
    left: 15px;
    top: 0;
}

.icon1:focus > .ellipse1 {
    display: block;
}

.ellipse2 {
    display: none;
    position: absolute;
    left: 14px;
    top: 0;
}

.icon2:focus > .ellipse2 {
    display: block;
}

.right_side button {
    width: 129px;
    height: 56px;
    border-radius: 12px;
    background: #f28;
    cursor: pointer;
    border: none;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #fff;
}

hr {
    width: 1490px;
    height: 1px;
    background: #111;
    opacity: 0.05;
    margin-left: 340px;
}

.choosing {
    margin-top: 40px;
    padding: 0 180px;
}

.filters {
    display: flex;
    justify-content: space-between;
}

.filters ul {
    display: flex;
    height: 100%;
    text-align: center;
    list-style: none;
}

.filters li a {
    display: block;
    text-align: center; 
    text-decoration: none;
    padding: 18.25px 25px;
    font-weight: 500;
    font-size: 16px;
    color: #222;
}

.filters li a:hover {
    border-radius: 12px;
    background: #f2f2f2;
}

.filters button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 132px;
    padding: 13px 25px;
    border-radius: 12px;
    border: 1px solid #d8d8d8;
    font-weight: 500;
    font-size: 16px;
    color: #222;
    cursor: pointer;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.card_1 {
    position: relative;
    width: 289px;
    height: 278px;
    cursor: pointer;
}

.card_1 img {
    width: 289px;
    height: 210px;
}

.card_1 span {
    display: block;
    padding-left: 30px;
    font-weight: 500;
    font-size: 18px;
    color: #222;
}

.hover {
    height: 60px;
    width: 34px;
    display: none;
    flex-direction: column;
    position: absolute;
    justify-content: space-between;
    top: 40px;
    left: 50px;
}

.card_1:hover > .hover {
    display: flex;
}



.hover img {
    height: 24px;
    width: 24px;
}

.load_more {
    width: 290px;
    height: 56px;
    border-radius: 12px;
    background: #f2f2f2;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #222;
    border: none;
    margin-left: 505px;
    margin-top: 40px;
    cursor: pointer;
}

.top_designers {
    height: 500px;
    background: #fafafa;
    margin-top: 105px;
    padding: 32px 180px;
}

.top_designers h2 {
    font-weight: 300;
    font-size: 32px;
    text-align: left;
    color: #222;
}

.designers {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    height: 275px;
}

.designer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.designer span {
    display: block;
    text-align: center;
}

.designer .up {
    font-weight: 500;
    font-size: 16px;
    color: #222;
}

.designer .down {
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.03em;
    color: #222;
    opacity: 0.6;
}

.designer button {
    width: 132px;
    height: 44px;
    border-radius: 12px;
    background: transparent;
    border: 1px solid #d8d8d8;
    cursor: pointer;
}

.designer button:hover {
    width: 132px;
    height: 44px;
    background: #f2f2f2;
}

footer {
    padding: 35px 325px 0 180px;
}

.footer_text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    width: 1094px;
    height: 398px;
    background: transparent;
}

.footer_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_info span {
    display: block;
    font-weight: 900;
    font-size: 16px;
    text-align: left;
    color: #222;
    margin-bottom: 36px;
}

.footer_info a {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    text-align: left;
    color: #222;
    text-decoration: none;
}

.brands {
    margin-top: 41px;
}

footer hr {
    margin-top: 70px;
    width: 1231px;
    height: 1px;
    background: #111;
    opacity: 0.05;
    margin-left: 0;
}

.smart_academy {
    width: 1235px;
    height: 24px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.smart_academy img {
    cursor: pointer;
}

.con_imgs {
    width: 110px;
    display: flex;
    justify-content: space-between;
}

.smartAcademy {
    font-weight: 900;
    font-size: 16px;
    color: #222;

}
 












