*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Avenir', sans-serif;
}

body {
    height: 2189px
}

nav {
    width: 319px;
    height: 100vh;
    background-color: #222222;
    padding: 50px 30px 105px 30px;
    position: fixed;
    overflow: auto;
}

.burger_section{
    max-height: 30px;
}

.burger_text {
    display: inline-block;
}

.burger_text p {
    font-weight: 900;
    font-size: 24px;
    text-align: left;
    color: #fff;
}

.burger_text span {
    font-weight: 500;
    font-size: 24px;
    text-align: left;
    color: #fff;
}

.burger {
    width: 26px;
    max-height: 11px;
    background: transparent;
    border: none;
    float: right;
    margin-top: 7px;
    cursor: pointer;
}

.burger div {
    margin: 4px 0;
    height: 1px;
    background: #fff;
}

.menu {
    display: block;
    margin-top: 105px;
    
}

.menu a {
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    padding: 18px 30px;
    position: relative;
}

.menu a:hover {
    border-radius: 12px;
    background: #f28;
}

.menu_text {
    display: inline-block;
    position: absolute;
    left: 75px;
    bottom: 22px;
}

.following {
    margin-top: 80px;
    padding-left: 30px;
}

.following h2 {
    font-weight: 300;
    font-size: 12px;
    color: #fff;
}

.following a {
    display: block;
    margin-top: 15px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    position: relative;

}

#sajon {
    margin-top: 31px;
}

.following span {
    display: inline-block;
    margin-bottom: 5px;
    position: absolute;
    left: 65px;
    bottom: 13px;
}

.more {
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    color: #fff;
}

header {
    height: 116px;
    margin-left: 319px;
    padding: 30px 91px 30px 20px;
}



.search {
    display: inline-block;
    width: 446px;
    height: 56px;
    position: relative;
}

.search input {
    width: 100%;
    height: 56px;
    border-radius: 12px;
    border-style: none;
    background: #f8f8f8;
    padding: 16px 20px;
    

    font-weight: 500;
    font-size: 14px;
    text-align: left;
    color: #111;
    opacity: 0.5;

}

.search button {
    width: 64px;
    height: 56px;
    border-radius: 12px;
    border-style: none;
    background: #f8f8f8 url(./Resources/img/icons/Search.png) center no-repeat;
    position: absolute;
    cursor: pointer;
    right: 0;
}

.right_side {
    float: right;
    height: 56px;
}

.pro{
    position: relative;
    top: -20px;
    font-weight: 500;
    font-size: 14px;
    color: #f28;
    text-decoration: none; 

}

.imgs {
    display: inline-block;
    margin: 0 30px;
    position: relative;
    top: -13px;
}

.imgs_a1 {
    position: relative;
}

.imgs_a2 {
    position: relative;
}

.img1 {
    margin-right: 30px;
    
}



.ellipse1 {
    display: none;
    position: absolute;
    right: 30px;
    top: 0;

}

.imgs_a1:focus > .ellipse1 {
    display: block;
}

.ellipse2 {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}

.imgs_a2:focus > .ellipse2 {
    display: block;
}

.right_side a{
    display: inline-block;
}

.right_side button {
    display: inline-block;
    width: 129px;
    height: 56px;
    border-radius: 12px;
    background: #f28;
    margin-left: 30px;
    position: relative;
    top: -25px;
    cursor: pointer;
    border: none;
   
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #fff;
}

hr {
    width: 1500px;
    height: 1px;
    background: #111;
    opacity: 0.05;
    margin-left: 400px;
}

section {
    width: 1300px;
    margin-left: 500px;
    margin-top: 40px;
}

.filters ul {
    display: inline-block;
    height: 100%;
    text-align: center;
}

.filters li {
    display: inline-block;
}
.filters li a {
    display: block;
    text-align: center; 
    text-decoration: none;
    padding: 18.25px 25px;

    
    font-weight: 500;
    font-size: 16px;
    color: #222;

}

.filters li a:hover {
    border-radius: 12px;
    background: #f2f2f2;
}

.filters button {
    width: 132px;
    float: right;
    padding: 13px 25px;
    border-radius: 12px;
    border: 1px solid #d8d8d8;

    font-weight: 500;
    font-size: 16px;
    color: #222;
    position: relative;
    cursor: pointer;
}

.filters img {
    float: left;
}

.filters span {
    display: inline-block;
    position: absolute;
    left: 60px;
}

.cards {
    width: 100%;
    padding-top: 5px;

}

.card_1 {
    display: inline-block;
    width: 289px;
    height: 278px;
    position: relative;
    top: 0px;
    margin: 0 25px 40px 0;
}

.card_1 img {
    width: 289px;
    height: 210px;
    
}

.card_1 span {
    display: block;
    margin-top: 29px;
    padding-left: 30px;


    font-weight: 500;
    font-size: 18px;
    text-align: left;
    color: #222;

}












